<div class="cns-calendar">
    <div ng-if="view == 'days'">
        <div class="cns-calendar-left" ng-click="setMonth('prev')" ng-bind-html="arrowLeft"></div>
        <div class="cns-calendar-title"><span ng-click="setView('months')">{{titleDays}}</span></div>
        <div class="cns-calendar-right" ng-click="setMonth('next')" ng-bind-html="arrowRight"></div>
        <div class="cns-calendar-short-day" ng-repeat="shortDay in shortDays">{{shortDay}}</div>
        <div class="cns-calendar-day" ng-click="setDate(day)" ng-repeat="day in days track by $index"
                ng-class="{'cns-calendar-day-enabled': day[1] && !verifyDate(day[0]) && !verifyMarkDates(day[0]),
                'cns-calendar-day-mark': day[1] && !verifyDate(day[0]) && verifyMarkDates(day[0]),
                'cns-calendar-day-current': day[1] && verifyDate(day[0]),
                'cns-calendar-day-disabled': !day[1]}">{{day[0]}}</div>
    </div>
    <div ng-if="view == 'months'">
        <div class="cns-calendar-left" ng-click="setYear('prev')" ng-bind-html="arrowLeft"></div>
        <div class="cns-calendar-title"><span ng-click="setView('years')">{{titleMonths}}</span></div>
        <div class="cns-calendar-right" ng-click="setYear('next')" ng-bind-html="arrowRight"></div>
        <div class="cns-calendar-close" ng-click="close()">x</div>
        <div class="cns-calendar-month" ng-click="setMonth($index)" ng-repeat="shortMonth in shortMonths">{{shortMonth}}</div>
    </div>
    <div ng-if="view == 'years'">
        <div class="cns-calendar-left" ng-click="setDecade('prev')" ng-bind-html="arrowLeft"></div>
        <div class="cns-calendar-title"><span ng-click="setView('decades')">{{titleYears}}</span></div>
        <div class="cns-calendar-right" ng-click="setDecade('next')" ng-bind-html="arrowRight"></div>
        <div class="cns-calendar-close" ng-click="close()">x</div>
        <div class="cns-calendar-month" ng-click="setYear(year)" ng-repeat="year in years"
                ng-if="year >= startYear && year <= endYear">{{year}}</div>
    </div>
    <div ng-if="view == 'decades'">
        <div class="cns-calendar-left" ng-click="setMillennium('prev')" ng-bind-html="arrowLeft"></div>
        <div class="cns-calendar-title">{{titleDecades}}</div>
        <div class="cns-calendar-right" ng-click="setMillennium('next')" ng-bind-html="arrowRight"></div>
        <div class="cns-calendar-close" ng-click="close()">x</div>
        <div class="cns-calendar-decade" ng-click="setDecade(decade)" ng-if="decade >= startYear - startYear % 10 && decade <= endYear - endYear % 10"
             ng-repeat="decade in decades">{{decade}}- {{decade + 9}}&nbsp;</div>
    </div>
</div>
