<div class="cns-runner-main">
    <div class="cns-runner-left" ng-click="setCurPage($event, 'prev')">
        <svg height="15" width="15" class="cns-runner-button-container">
            <polygon points="0,7.5 13,0 13,15" id="cns-rbl" class="cns-runner-button" />
        </svg>
    </div>
    <div class="cns-runner-bar"></div>
    <div class="cns-runner-right" ng-click="setCurPage($event,'next')">
        <svg height="15" width="15" class="cns-runner-button-container">
            <polygon points="2,0 15,7.5 2,15" id="cns-rbr" class="cns-runner-button" />
        </svg>
    </div>
</div>
