.cns-pagination {
  position: relative;
  width: 100%;
}
.cns-pagination-pages {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  text-align: justify;
  text-wrap: none;
  width: 100%;
}
.cns-pagination-pages a {
  color: #333333;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
}
.cns-pagination-pages a:hover {
  background-color: #eeeeee;
  text-decoration: none;
}
.cns-pagination-current {
  background-color: #bbbbbb;
  color: #ffffff !important;
}
.cns-pagination-container {
  position: relative;
}
.cns-scroll-pagination {
  background-color: #dddddd;
  height: 4px;
  padding: 0;
  width: 100%;
}
.cns-pagination-bar {
  background-color: #777777;
  height: 4px;
  left: 0;
  position: absolute;
  width: 0;
}
.cns-pagination-button {
  left: 0;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 0;
}
.cns-pagination-slider-container {
  cursor: pointer;
  height: 15px;
  width: 15px;
}
.cns-pagination-slider {
  fill: #777777;
  stroke: #707070;
  stroke-width: 1.5;
}
.cns-runner-main {
  position: relative;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.cns-runner-main,
.cns-runner-left,
.cns-runner-right,
.cns-runner-bar,
.cns-runner-button-container {
  height: 15px;
}
.cns-runner-left,
.cns-runner-right,
.cns-runner-button-container {
  width: 15px;
}
.cns-runner-left,
.cns-runner-right {
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 0;
}
.cns-runner-left {
  left: 0;
}
.cns-runner-right {
  right: 0;
}
.cns-runner-bar {
  background-color: #333333;
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}
.cns-runner-button-container {
  cursor: pointer;
}
.cns-runner-button {
  fill: #333333;
}
.cns-grow-main {
  position: relative;
  width: 100%;
}
.cns-grow-main,
.cns-grow-left,
.cns-grow-right,
.cns-grow-bar,
.cns-grow-button-container {
  height: 15px;
}
.cns-grow-left,
.cns-grow-right,
.cns-grow-button-container {
  width: 15px;
}
.cns-grow-left,
.cns-grow-right {
  cursor: pointer;
  position: absolute;
  top: 0;
  text-align: center;
}
.cns-grow-left {
  left: 0;
}
.cns-grow-right {
  right: 0;
}
.cns-grow-bar {
  cursor: pointer;
  background-color: #333333;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}
.cns-grow-button-container {
  cursor: pointer;
}
.cns-grow-button {
  fill: #333333;
}
.cns-scroll {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.cns-scroll-v {
  background-color: #eeeeee;
  border-radius: 3px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 6px;
}
.cns-scroll-v-bar {
  border-radius: 3px;
  background-color: #999999;
  cursor: pointer;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 6px;
}
.cns-scroll-h {
  background-color: #eeeeee;
  border-radius: 3px;
  bottom: 0;
  height: 6px;
  left: 0;
  position: absolute;
  width: 100%;
}
.cns-scroll-h-bar {
  background-color: #999999;
  border-radius: 3px;
  bottom: 0;
  cursor: pointer;
  height: 6px;
  left: 0;
  position: absolute;
  width: 0;
}
.cns-dp-input {
  border-radius: 3px;
  border-width: 1px;
  font-size: 16px;
  padding: 4px;
  text-align: center;
  width: 100px;
}
.cns-dp-input-error {
  background-color: #ffb591;
}
.cns-dp {
  background-color: #eeeeee;
  border: #dddddd solid 1px;
  border-radius: 4px;
  display: none;
  font-family: sans-serif;
  height: 196px;
  padding: 12px 24px;
  position: absolute;
  width: 196px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.cns-dp-left,
.cns-dp-right {
  cursor: pointer;
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 36px;
}
.cns-dp-title {
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 124px;
}
.cns-dp-title span {
  cursor: pointer;
}
.cns-dp-close {
  cursor: pointer;
  padding: 2px 6px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.cns-dp-short-day {
  float: left;
  font-style: italic;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 26px;
}
.cns-dp-day {
  float: left;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  width: 26px;
}
.cns-dp-day-disabled {
  color: #cccccc;
}
.cns-dp-day-enabled:hover {
  background-color: #dddddd;
  border-radius: 4px;
  cursor: pointer;
}
.cns-dp-day-current {
  background-color: #cccccc;
  border-radius: 4px;
}
.cns-dp-month {
  cursor: pointer;
  float: left;
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  width: 49px;
}
.cns-dp-month:hover {
  background-color: #dddddd;
  border-radius: 4px;
}
.cns-dp-decade {
  float: left;
  font-size: 12px;
  margin-bottom: 4px;
  margin-top: 8px;
  padding: 4px 0;
  text-align: center;
  width: 49px;
}
.cns-dp-decade:hover {
  background-color: #dddddd;
  border-radius: 4px;
  cursor: pointer;
}
.cns-calendar {
  background-color: #eeeeee;
  border: #dddddd solid 1px;
  border-radius: 4px;
  font-family: sans-serif;
  height: 196px;
  padding: 12px 24px;
  width: 196px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.cns-calendar-left,
.cns-calendar-right {
  cursor: pointer;
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 36px;
}
.cns-calendar-title {
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 124px;
}
.cns-calendar-title span {
  cursor: pointer;
}
.cns-calendar-close {
  cursor: pointer;
  padding: 2px 6px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.cns-calendar-short-day {
  float: left;
  font-style: italic;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 26px;
}
.cns-calendar-day {
  border-radius: 4px;
  border: #eeeeee solid 1px;
  float: left;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  width: 26px;
}
.cns-calendar-day-disabled {
  color: #cccccc;
}
.cns-calendar-day-enabled:hover {
  background-color: #dddddd;
  border: #cccccc solid 1px;
  cursor: pointer;
}
.cns-calendar-day-current {
  background-color: #cccccc;
  border: #cccccc solid 1px;
  border-radius: 4px;
}
.cns-calendar-day-mark {
  border: #cccccc solid 1px;
  cursor: pointer;
}
.cns-calendar-day-mark:hover {
  background-color: #dddddd;
}
.cns-calendar-month {
  cursor: pointer;
  float: left;
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  width: 49px;
}
.cns-calendar-month:hover {
  background-color: #dddddd;
  border-radius: 4px;
}
.cns-calendar-decade {
  float: left;
  font-size: 12px;
  margin-bottom: 4px;
  margin-top: 8px;
  padding: 4px 0;
  text-align: center;
  width: 49px;
}
.cns-calendar-decade:hover {
  background-color: #dddddd;
  border-radius: 4px;
  cursor: pointer;
}
.cns-dpl-input {
  border-radius: 3px;
  border-width: 1px;
  font-size: 16px;
  padding: 4px;
  text-align: center;
  width: 100px;
}
.cns-dpl {
  background-color: #222222;
  border-radius: 4px;
  display: none;
  font-family: sans-serif;
  height: 248px;
  position: absolute;
  text-align: center;
  width: 240px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.cns-dpl-title {
  border-bottom: #3a3a3a solid 1px;
  color: #ffffff;
  font-size: 16px !important;
  height: 39px;
  line-height: 39px;
  text-align: center;
  width: 240px;
}
.cns-dpl-cancel,
.cns-dpl-set {
  border-top: #3a3a3a solid 1px;
  color: #ffffff;
  float: left;
  font-size: 14px;
  height: 39px;
  line-height: 39px;
  text-align: center;
}
.cns-dpl-cancel {
  border-right: #3a3a3a solid 1px;
  width: 119px;
}
.cns-dpl-set {
  width: 120px;
}
.cns-dpl-cancel:hover {
  background-color: #333333;
  border-bottom-left-radius: 4px;
  cursor: pointer;
}
.cns-dpl-set:hover {
  background-color: #333333;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}
.cns-dpl-tbl {
  display: table;
  margin: auto;
}
.cns-dpl-tr {
  display: table-row;
  font-size: 20px;
}
.cns-dpl-td {
  color: #3a3a3a;
  display: table-cell;
  height: 40px;
  line-height: 40px;
}
.cns-dpl-arrow-height {
  cursor: pointer;
  height: 24px;
  line-height: 24px;
}
.cns-dpl-td span {
  padding: 4px;
}
.cns-dpl-border {
  border-bottom: #33b5e5 solid 2px;
  border-top: #33b5e5 solid 2px;
  color: #ffffff;
}
.cns-dpl-tr div:nth-child(1) {
  text-align: center;
  width: 80px;
}
.cns-dpl-tr div:nth-child(3) {
  text-align: center;
  width: 80px;
}
.cns-dpl-tr div:nth-child(2) {
  width: 60px;
  text-align: center;
}
.cns-dpl-svg {
  fill: #3a3a3a;
}
.cns-dpl-svg:hover {
  fill: #777777;
}
