/**
 * Pagination
 */
.cns-container {
    width: 100%;
    position: relative;
}
.cns-scroll-pagination-pages {
    width: 100%;
    font-size: 16px;
    text-align: justify;
    text-wrap: none;
    overflow: hidden;
    line-height: 40px;
    height: 40px;
}
.cns-scroll-pagination-pages a {
    text-align: center;
    padding: 5px 20px;
    color: #3071a9;
    text-decoration: none;
}
.cns-scroll-pagination-pages a:hover {
    text-decoration: none;
    background-color: #eeeeee;
}
.cns-scroll-pagination-current {
    color: #ffffff !important;
    background-color: #bbbbbb;
}
.cns-scroll-pagination-current a {
    color: #ffffff;
}
.cns-scroll-pagination-container {
    position: relative;
}
.cns-scroll-pagination {
    padding: 0;
    width: 100%;
    height: 4px;
    background-color: #dddddd;
}
.cns-scroll-pagination-bar {
    position: absolute;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #777777;
}
.cns-scroll-pagination-button {
    position: absolute;
    left: 0;
    width: 0;
    top: 4px;
    text-align: center;
}
.cns-pagination-slider-container {
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.cns-pagination-slider {
    fill: #777777;
    stroke: #707070;
    stroke-width: 1.5;
}
/**
 * Runner
 */
.cns-runner-main {
    position: relative;
    width: 100%;
}
.cns-runner-main, .cns-runner-left, .cns-runner-right, .cns-runner-bar, .cns-runner-button-container {
    height: 15px;
}
.cns-runner-left, .cns-runner-right, .cns-runner-button-container {
    width: 15px;
}
.cns-runner-left, .cns-runner-right {
    position: absolute;
    top: 0;
    cursor: pointer;
    text-align: center;
}
.cns-runner-left {
    left: 0;
}
.cns-runner-right {
    right: 0;
}
.cns-runner-bar {
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: #333333;
}
.cns-runner-button-container {
    cursor: pointer;
}
.cns-runner-button {
    fill: #333333;
}
/**
 * Grow
 */
.cns-grow-main {
    position: relative;
    width: 100%;
}
.cns-grow-main, .cns-grow-left, .cns-grow-right, .cns-grow-bar, .cns-grow-button-container {
    height: 15px;
}
.cns-grow-left, .cns-grow-right, .cns-grow-button-container {
    width: 15px;
}
.cns-grow-left, .cns-grow-right {
    position: absolute;
    top: 0;
    cursor: pointer;
    text-align: center;
}
.cns-grow-left {
    left: 0;
}
.cns-grow-right {
    right: 0;
}
.cns-grow-bar {
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: #333333;
}
.cns-grow-button-container {
    cursor: pointer;
}
.cns-grow-button {
    fill: #333333;
}
/*
 * Scroll
 */
.cns-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cns-scroll-v {
    position: absolute;
    top: 0;
    width: 6px;
    right: 0;
    border-radius: 3px;
    height: 100%;
    background-color: #eeeeee;
}
.cns-scroll-v-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    border-radius: 3px;
    height: 0;
    background-color: #999999;
    cursor: pointer;
}
.cns-scroll-h {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: #eeeeee;
}
.cns-scroll-h-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 6px;
    border-radius: 3px;
    background-color: #999999;
    cursor: pointer;
}
/*
 * Datepicker
 */
.cns-dp-input {
    padding: 4px;
    width: 100px;
    border-radius: 3px;
    border-width: 1px;
    font-size: 16px;
    text-align: center;
}
.cns-dp {
    position: absolute;
    width: 196px;
    height: 196px;
    background-color: #eeeeee;
    border: #dddddd solid 1px;
    border-radius: 4px;
    font-family: sans-serif;
    padding: 12px 24px;
    display: none;
}
.cns-dp-left, .cns-dp-right {
    float: left;
    width: 36px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.cns-dp-title {
    float: left;
    width: 124px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.cns-dp-title span {
    cursor: pointer;
}
.cns-dp-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 6px 0 0;
    color: #333333;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.cns-dp-short-day {
    float: left;
    width: 28px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-style: italic;
    font-size: 12px;
}
.cns-dp-day {
    float: left;
    width: 28px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
}
.cns-dp-day-disabled {
    color: #cccccc;
}
.cns-dp-day-enabled:hover {
    cursor: pointer;
    background-color: #dddddd;
    border-radius: 4px;
}
.cns-dp-day-current {
    background-color: #cccccc;
    border-radius: 4px;
}
.cns-dp-month {
    float: left;
    width: 49px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    color: #222222;
    cursor: pointer;
}
.cns-dp-month:hover {
    background-color: #dddddd;
    border-radius: 4px;
}
.cns-dp-decade {
    float: left;
    width: 49px;
    text-align: center;
    font-size: 12px;
    color: #222222;
    margin-bottom: 4px;
    padding: 4px 0;
    margin-top: 8px;
}
.cns-dp-decade:hover {
    background-color: #dddddd;
    cursor: pointer;
    border-radius: 4px;
}